body{
	margin: 0;
	padding: 0;
    background-color: #ffbb00;      /*add the background color of the page */
}


.TopBanner{
    position: relative;
    font-size: 65px;
    color: white;
    background-color: #5e4212;              /*adding color and other attributes to the banner at the top */
    font-weight: bold;
    text-align: center;
    font-style: italic;
}

img{  
}
img:hover { 
  outline: 3px solid black;                 /*when the mouse hovers over the image highlight it by making its borders pronounced */
} 

    
.icons{
    max-height: 100%;  
    max-width: 100%; 
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;                               /* positioning the icons at a spcific place with max dimensions and other attributes*/
    margin: auto;
    width: 100px;
    height: 100px;
    margin: 20px;
    position: relative;
    border-radius: 50%;
}

.title{
    
    position: absolute;
    left: 650px;
    text-align: center;
    font-size: 50px;
    text-decoration: underline;             /* positioning of the title text and the attributes */
    color: floralwhite;
    font-family: sans-serif;
}

.main{
    position: absolute;
    left: 250px;
    top: 300px;
    text-align: left;
    font-size: 20px;                    /* positioning for the main text and other attributes*/
    color: floralwhite;
    width: 700px;
    font-family: sans-serif;
    
}

.main2{
    position: absolute;
    right: 100px;
    top: 700px;
    text-align: left;               /*same as above */
    font-size: 20px;
    color: floralwhite;
    width: 700px;
    font-family: sans-serif;
}

.photo1{
    position: absolute;             /* positioing for the image */
    right: 100px;
    top: 250px;
    
}
.photo2{
    position: absolute;
    left: 250px;                /* same as above*/
    top: 700px;
    
}