body{
	margin: 0;
	padding: 0;
    background-color: #ffbb00;
}

.TopBanner{
    position: relative;
    font-size: 65px;
    color: white;
    background-color: #5e4212;
    font-weight: bold;
    text-align: center;
    font-style: italic;
}

img{
    
    border-radius: 50%;
}

    
.icons{
     max-height: 100%;  
    max-width: 100%; 
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 20px;
    position: relative;

}

.banner{
    position: absolute;
    right: 1200px;
    top: 450px;
    text-align: center;
    color: white;
    background-color: firebrick;
    width: 200px;
    height: 500px;
  display: flex;
  flex-wrap: nowrap;
/*
    margin: auto;
    border-spacing: inherit;
*/
    
}

.circle{
    position: absolute;
    right: 1200px;
    top: 220px;
    background-color: firebrick;
    margin: auto;
}
.decor{
    position: absolute;
    mix-blend-mode: multiply;
    transform: rotate(180deg);
    right: 1190px;
    top: 200px;
    margin: auto;
    
}

.title{
    
    position: absolute;
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
    font-size: 18.25; 
    right: 1200px;
    top: 400px;
    color: white;
    background-color: firebrick;
}