body{
	margin: 0;
	padding: 0;
    background-image: url(film3.jpg);          /* adding background image to the page*/
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;                        /* making all hyperlink white and when hovered over the hyperlink becomes underlined*/
}

a:hover {
  color: white;
  text-decoration: underline;                   
}
.TopBanner{
    position: relative;
    bottom: 65px;
    font-size: 65px;
    color: white;
    background-color: #5e4212;                      /* adding the specfic color and properties to the top header of the site*/
    font-weight: bold;
    text-align: center;
    font-style: italic;
}

.Start{
    position: static;
    text-align: center;
    top: 50px;
	font-size: 50px;
	color: red;                                        /* adding the proper alignment and attributes to the start film hyperlink*/
    font-style: normal;
    font-weight: bold;
/*    //background-image: url(Film%20icon.png);*/
    background-repeat: no-repeat;
    background-position: center;
    
}

.Comic{
    position: absolute;
    top: 400px;
    left: 200px;
    text-align: left;                                   /* doing the same as above but for the comic hyperlink*/
    font-size: 55px;
    color: white;
    font-weight: bold; 
/*    //background-image: url(comic.jpg);*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.Collab{
    position: relative;
    top: 175px;
    right: 200px;
    text-align: right;
    font-size: 55px;
    color: white;                                           /* doing the same as above but for the collab hyperlink*/
    font-weight: bold;
/*    //background-image: url(Collaboration%20home.jpg);*/
    background-repeat: no-repeat;
    background-position: right;
    background-size: 400px,400px;
}

.About{
    position: relative;
    top: 425px;
    text-align: center;                                     /* doing the same as above but for the about hyperlink*/
    font-size: 55px;
    color: white;
    font-weight: bold;
}