body{
	margin: 0;
	padding: 0;
    background-color: #ffbb00;  /* adding the background color to the page */
}

img:hover { 
  outline: 3px solid black;     /*when the mouse hovers over the image highlight it by making its borders pronounced */
} 

.TopBanner{
    position: relative;
    font-size: 65px;
    color: white;                       /* adding the color style and other listed attributes for the top banner */
    background-color: #5e4212;
    font-weight: bold;
    text-align: center;
    font-style: italic;
}

.video{
    position: absolute;
    left: 250px;                    /* positioning the video at a spcific place*/
}
.icons{
    max-height: 100%;  
    max-width: 100%; 
    position: absolute;  
    border-radius: 50%;                     /* positioning the icons at a spcific place with max dimensions and other attributes*/
    width: 100px;
    height: 100px;
    margin: 20px;
    position: relative;

}
