body{
	margin: 0;
	padding: 0;
    background-color: #ffbb00;
}

.TopBanner{
    position: relative;
    font-size: 65px;
    color: white;
    background-color: #5e4212;
    font-weight: bold;
    text-align: center;
    font-style: italic;
}

img{  

}

img:hover { 
  outline: 3px solid black; 
} 

.title{
    position: absolute;
    font-size: 40px;
    color: black;
    text-decoration: underline;
    font-family: sans-serif;
    left: 250px;
}

.sub_title{
    position: absolute;
    font-size: 40px;
    color: black;
    text-decoration: underline;
    font-family: sans-serif;
    left: 250px;
    top: 500px;
    
}


.icons{
    max-height: 100%;  
    max-width: 100%; 
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 20px;
    position: relative;

}

.placeholder{
    
    position: absolute;
    left: 250px;
    top: 250px;
}

.placeholder2{
    
    position: absolute;
    left: 250px;
    top: 600px;
}